<template name="categoryForm">
	<form>
		<table cellpadding="0" cellspacing="0">
			<tr valign="top">
				<td>
					<label for="categoryName">Category Name <span class="mandatory">*</span></label>
				</td>
				<td>:
				</td>
				<td>
					<input type="text" id="categoryName" name="categoryName" style="width: 50px;" maxlength="100">
				</td>
			</tr>
			<tr valign="top">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><input type="submit" class="btn" value="Create" /></td>
			</tr>
		</table>
	</form>
</template>
